# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.log

# Rider / VSCode
.idea/
.vscode/

# OS files
Thumbs.db
desktop.ini

# SQL local files / backups
*.mdf
*.ldf

# NuGet packages (optional)
packages/
